{% extends '@!EasyAdmin/layout.html.twig' %}
{% block header_logo %}
    <a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
        <span class="logo-custom">{{ ea.dashboardTitle|raw }}</span>
        <span class="logo-compact"><i class="fas fa-home"></i></span>
    </a>
{% endblock header_logo %}

{% block content_header %}
    <div class="content-header-title">
        <h1 class="title">
            {% block content_title %}{% endblock %}

            {% block content_help %}
                {% if has_help_message %}
                    <a tabindex="0" class="content-header-help" data-bs-toggle="popover" data-bs-custom-class="ea-content-help-popover" data-bs-animation="true" data-bs-html="true" data-bs-placement="bottom" data-bs-trigger="focus" data-bs-content="{{ ea.crud.helpMessage|trans|e('html_attr') }}">
                        <i class="far fa-question-circle"></i>
                    </a>
                {% endif %}
            {% endblock %}
        </h1>
        {% block login_as %}{% endblock %}
    </div>

    {% block page_actions_wrapper %}
        <div class="page-actions">{% block page_actions %}{% endblock %}</div>
    {% endblock %}
{% endblock content_header %}

{% block content_footer_wrapper %}
    <section class="content-footer">
        <p class="text-center">Made with <i class="bi bi-arrow-through-heart-fill" style="color: red"></i> by asteriXone © {{ 'now'|date('Y') }} <a href="https://asterixone.github.io" target="_blank">Rubén Rueda</a><br/>All Rights Reserved</p>
    </section>
{% endblock %}